.experience{
    width: 70%;
    margin: auto;
    div{
        border-radius: 10px;
    }
}
.border-radius-one{
    padding: 2px;
    box-shadow: 0px 1px 16px 0px rgba(0,0,0,0.45);
}
.border-top-green{
    border-top: green solid 5px;

}